[Desktop Entry]
Name=Seafile
Comment=Seafile desktop sync client
TryExec="sh -c "export CCNET_CONF_DIR=/local/mnaveau/.ccnet && seafile-applet""
Exec="sh -c "export CCNET_CONF_DIR=/local/mnaveau/.ccnet && seafile-applet""
Terminal=false
Icon=seafile
Type=Application
Categories=Network;FileTransfer;
