[Desktop Entry]
Name=Terminator
Comment=Launch qtcreator with some additional work terminals
TryExec=terminator
Exec=terminator -m -l qtcreator
Icon=/usr/share/qt4/QtIcon.png
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
StartupNotify=true
X-Ubuntu-Gettext-Domain=terminator
X-Ayatana-Desktop-Shortcuts=NewWindow;
Keywords=terminal;shell;prompt;command;commandline;
Name[en_US]=qtcreator_terminal

[NewWindow Shortcut Group]
Name=Open a New Window
Exec=terminator
TargetEnvironment=Unity
